.card{
    background-color: #95A5A6;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left:45px;
    float: left;
    transition: 2s;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:20px;
}
body{
    font-family: 'Emilys Candy', cursive;
    font-size: 15px;
    text-align: center;
}
h1{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #00E640;
    font-weight: 400;
    line-height: 1.4em;
    transition: 5s;
    text-align: center;
    margin-bottom: 0px;
}
h2{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4183D7;
    font-weight: 400;
    line-height: 1.4em;
    transition: 5s;
    text-align: center;
    margin-bottom: 0px;
}
.tags{
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
}
p{
    font-family: "Times New Roman", Times, serif;
    font color: green;
}
img{
    width: 250px;
    height: 150px;
    float: center;
}